.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 78vh;
}

.create-budget {
  min-height: 78.5vh;
  width: 50%;
  padding: 3rem;
  padding-top: 0.4rem;
  background-color: #016170;
}

h3 {
  font-size: 22px;
}
.retrieve-budget {
  width: 50%;
  padding: 2rem;
  background-color: #009393;
}

.price-section {
  padding: 0.7rem;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  max-width: 380px;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background: #2a747f;
  box-shadow: -10px -10px 32px #014550, 10px 10px 32px #017d90;
}

.quantity {
  display: inline;
}

.quantity button {
  background-color: #44acba;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 4px 6px;
  margin: 0 1rem;
}

.quantity button:hover {
  background-color: #1c9a63;
}

.quantity input {
  font-family: "Caveat", cursive, sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
  border: none;

  max-width: 24px;
  background: #2a747f;
}

.check {
  padding: 0.4rem;
}

.info-btn {
  background-color: #44acba;
  border: none;
}
