.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 140px;
  height: 180px;
  box-shadow: 8px 8px 60px #016170;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  background-color: #016170;
  margin: 5 rem;
  padding: 1rem;
  margin-bottom: 6%;
  color: rgb(210, 195, 30);
}

hr {
  margin: 2% 0;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgb(210, 195, 30);
  border-bottom: transparent;
  margin-block-start: 0.1rem;
}
/* 
card-date {
  padding-bottom: 5rem;
} */
