body {
  margin: 0;
  font-family: "Caveat", cursive, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.price-section {
  padding: 0.7rem;
}

.panel {
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  text-align: center;
  padding-bottom: 0.2rem;
  max-width: 360px;
  margin: 1rem;
  gap: 0.5rem;
  background-color: #3fd3db;
  box-shadow: -7px -7px 14px #1e6367, 7px 7px 14px #60ffff;
}

.quantity {
  display: inline;
}

.quantity button {
  background-color: #eb3c68;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 4px 6px;
  margin: 0 1rem;
}

.quantity button:hover {
  background-color: #af1d42;
}

.quantity input {
  font-family: "Caveat", cursive, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  border: none;
  max-width: 30px;
  background-color: #3fd3db;
}

.check {
  padding: 0.6rem;
}
