body {
  margin: 0;
  font-family: "Caveat", cursive, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
  letter-spacing: 1px;
}
