body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 3rem;
}

.price-section {
  margin-top: 1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 2rem;
  text-align: center;
  padding-bottom: 0.2rem;
  max-width: 360px;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.quantity {
  display: inline;
}

.quantity button {
  background-color: #eb3c68;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  margin: 0 1rem;
}

.quantity button:hover {
  background-color: #af1d42;
}

.quantity input {
  text-align: center;
  padding: 1rem;
  border: none;
  max-width: 30px;
}
